<%- include('./includes/header.ejs')  %> 
<%- include('./includes/navbar.ejs')  %> 
 

<form action="/add-product" method="post">
  <label for="inputPassword5" class="form-label">Product Name</label>
  <input
    type="text"
    class="form-control"
    name="productName"
  />
  <label for="inputPassword5" class="form-label">Description</label>
  <textarea
    type="text"
    class="form-control"
    name="description"
  ></textarea>
  <label for="inputPassword5" class="form-label">Price</label>
  <input
    type="text"
    class="form-control"
    name="price"
  />
  <button type="submit">Ekle</button>
</form>
<%- include('./includes/ending.ejs')  %> 
